@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);

    --ff-poppins: 'Poppins', sans-serif;
}

body {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-poppins);
    background: var(--very-light-gray);
}

.container {
    width: 100%;
    margin: 5em 2em;
}

.heading-1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--very-dark-blue);
}

.heading-2 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--very-dark-blue);
    margin-bottom: 0.6em;
}

.description {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--grayish-blue);
    margin-bottom: 5em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.content-block {
    padding: 1.5em;
    border-radius: 10px;
    position: relative;
    height: 200px;
    box-shadow: 0 5px 20px 0px var(--grayish-blue);
}

.content>.content-block:first-child {
    border-top: 4px solid var(--cyan);
}

.center-content>.content-block:first-child {
    border-top: 4px solid var(--red);
}

.center-content>.content-block:last-child {
    border-top: 4px solid var(--orange);
}

.content>.content-block:last-child {
    border-top: 4px solid var(--blue);
}

.title {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--very-dark-blue);
    margin-bottom: 0.2em;
}

.about-title {
    font-weight: 200;
    font-size: 0.7rem;
    word-spacing: 0.05em;
    color: var(--grayish-blue);
}

img {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 50px;
    height: auto;
}

@media screen and (min-width: 375px) {
    .content-block {
        width: 375px;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        flex-direction: row;
    }

    .content-block {
        height: 250px;
        padding: 2em;
    }

    .heading-1, .heading-2 {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
        width: 30%;
        margin: 0 auto 4em auto;
        text-align: center;
    }

    .about-title {
        font-size: 1rem;
    }

    img {
        width: 60px;
        height: auto;
    }
}







